n8n/workflows/main-chatbot.json
{
  "name": "Amaral Support - Chatbot Principal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WAHA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "3d63d364-9aa3-4d46-81dc-6f8f680bed90"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-is-message",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-messages",
      "name": "Filtrar Mensagens",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://amaral-business-engine:3002/classify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.body.payload.body }}\",\n  \"phone\": \"{{ $json.body.payload.from }}\",\n  \"conversationHistory\": []\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "classify-message",
      "name": "Classificar Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-agent-handling",
              "leftValue": "={{ $json.agentHandling }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-agent-active",
      "name": "Atendente Ativo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-should-escalate",
              "leftValue": "={{ $json.escalation.shouldEscalate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-escalation",
      "name": "Precisa Escalar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://amaral-business-engine:3002/respond",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $('WAHA Webhook').item.json.body.payload.body }}\",\n  \"category\": \"{{ $json.category }}\",\n  \"conversationHistory\": []\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "generate-response",
      "name": "Gerar Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://amaral-business-engine:3002/escalate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('WAHA Webhook').item.json.body.payload.from }}\",\n  \"category\": \"{{ $json.category }}\",\n  \"messages\": [\"Cliente: {{ $('WAHA Webhook').item.json.body.payload.body }}\"],\n  \"reason\": \"{{ $json.escalation.reason }}\",\n  \"priority\": \"{{ $json.escalation.priority }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "escalate-ticket",
      "name": "Escalar para Atendente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 620]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://amaral-chat-simulator:3001/api/sendText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"{{ $('WAHA Webhook').item.json.body.payload.from }}\",\n  \"text\": \"{{ $json.response }}\",\n  \"session\": \"default\"\n}",
        "options": {}
      },
      "id": "send-response",
      "name": "Enviar Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://amaral-chat-simulator:3001/api/sendText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"{{ $('WAHA Webhook').item.json.body.payload.from }}\",\n  \"text\": \"Entendo que você precisa de ajuda especializada. Estou transferindo você para um de nossos atendentes. Por favor, aguarde um momento. 🙏\",\n  \"session\": \"default\"\n}",
        "options": {}
      },
      "id": "send-escalation-msg",
      "name": "Avisar Escalação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 620]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\"status\": \"ok\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-ok",
      "name": "Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 500]
    }
  ],
  "connections": {
    "WAHA Webhook": {
      "main": [
        [
          {
            "node": "Filtrar Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Mensagens": {
      "main": [
        [
          {
            "node": "Classificar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classificar Mensagem": {
      "main": [
        [
          {
            "node": "Atendente Ativo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atendente Ativo?": {
      "main": [
        [
          {
            "node": "Responder 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Precisa Escalar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa Escalar?": {
      "main": [
        [
          {
            "node": "Gerar Resposta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalar para Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Resposta": {
      "main": [
        [
          {
            "node": "Enviar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalar para Atendente": {
      "main": [
        [
          {
            "node": "Avisar Escalação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta": {
      "main": [
        [
          {
            "node": "Responder 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar Escalação": {
      "main": [
        [
          {
            "node": "Responder 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "chatbot"
    },
    {
      "name": "amaral-support"
    }
  ]
}
